h1 {
  text-align: center;
  font-size: 3em;
}

#menu {
	/*width: 370px;*/
	/*height: 50px;*/
	text-align: center;
	/*background-color: orange;*/
  	/*margin: 0 auto;*/
}

.tab {
	display: inline-block;
	text-align: center;
	margin: 10px;
	/*width: 100px;*/
	font-size: 1.5em;
	/*background-color: blue;*/
	border-bottom: 2px solid white;
}

.tab:hover {
	border-bottom: 2px solid black;
}

ul {
	/*yeah I don't know why but web browsers add this extra 40px (1em)*/
	/*this is the only way for this to be centered or something*/
	margin-left: -40px;
}

#title {
	font-size: 1.5em;
}

#info {
	position: relative;	
}

#nav {
	text-align: center;
	/*width: 600px;*/
	/*margin: 0 auto;*/

}

.nav_item {
	display: inline-block;
	text-align: center;
	margin: 10px;
	font-size: 2em;
	width: 75px;
	/*background-color: cadetblue;*/
}

.nav_left {
	border-left: 2px dotted white;
}

.nav_right {
	border-right: 2px dotted white;
}

.nav_left:hover {
	border-left-color: black;
	/*margin-left:-10px;*/
}

.nav_right:hover {
	border-right-color: black;
	/*margin-left: 20px;*/
}

li {
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

a {
	text-decoration: none;
	color: black;
}